html, body, .container, #map { height: 100%; }
#coordinates-pick-map { 
    margin-top: 15px;
    height: 300px; 
}
body { padding-top: 70px;}

.dl-horizontal dt {
    white-space: normal;
}

.user-image-large {
    margin-bottom: 15px;
}
