html, body, .container, #map { height: 100%; }
#coordinates-pick-map { 
    margin-top: 15px;
    height: 300px; 
}
body { padding-top: 70px;}

.dl-horizontal dt {
    white-space: normal;
}

.user-image-large {
    margin-bottom: 20px;
    margin-top: 20px;
}
.table tbody>tr>td.vertical-align {
    vertical-align: middle;
}

.btn-auth-vk, .btn-auth-vk:hover {
    background-color: #5B7FA6;
}

.btn-auth-su, .btn-auth-su:hover {
    background-color: #007700;
}

th.clickable-cell a {
   display: block;
}

.table thead tr th.summit-visited {
    border-bottom-style: none;
}

.table tbody tr td.summit-visited {
    border-top-style: none;
    padding-right: 0px;
}
