{% extends "layout.html" %}
{% block title %}О проекте{% endblock %}
{% block description %}О проекте{% endblock %}
{% block content %}
<div class="row">
  <div class="column-4">
    <h4>Что это?</h4>
  </div>
  <div class="column-12">
    <p>Данный проект является попыткой создать интернет-версию неформального туристического клуба восходителей на тысячники Южного Урала "Исилган". Каждый участник клуба ставит себе целью совершить восхождени на все вершины Южного Урала высотой более тысячи метров над уровнем моря. Историю клуба "Исилган" и причины его создания можно узнать <a href="http://www.isilgan.ru/2013/06/blog-post_5161.html">у его создателей</a></p>
    <p>Исходные коды сайта доступны на <a href="https://github.com/binrush/thousands">GitHub</a>.</p>
  </div>
</div>

<div class="row">
  <div class="column-4">
    <h4>Помощь проекту</h4>
  </div>
  <div class="column-12">
    <p>С радостью примем помощь в виде советов, замечаний и сообщений об ошибках. Также проекту требуются качественные фотографии вершин. По этим и другим вопросам с создателями проекта можно связаться по электронной почте: <a href="mailto:rush.ru@gmail.com">rush.ru@gmail.com</a>.</p>
  </div>
</div>
{% endblock %}
