{% extends "layout.html" %}
{% block title %}Отметить восхождение{% endblock %}
{% block content %}
<h1>Отметить восхождение</h1>
{% if form.errors %}
<div id="form-errors" class="alert alert-danger">
    <ul id="form-error-list">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<form id="summit_edit_form" method="post" class="form-horizontal">
  {{ form.csrf_token }}
  <div class="form-group">
    <label for="name_alt" class="col-md-3 control-label">Вершина</label>
    <div class="col-md-6">
        <p class="form-control-static">
        <a href="{{ url_for('summit', ridge_id=summit.ridge_id, summit_id=summit.id) }}">
            {% if summit.name %}{{ summit.format_name() }}, {% endif %}{{ summit.height }}, хребет {{ summit.ridge }}
        </a>
        </p>
    </div>
  </div>
  <div class="form-group">
    <label for="name_alt" class="col-md-3 control-label">Дата</label>
    <div class="col-md-6">
        <div class="input-group date">
            {{ form.date(class_='form-control datepicker', **{'aria-describedby': 'helpBlockDate'}) }}
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <span id="helpBlockDate" class="help-block">Необязательное поле. Если точная дата неизвестна, можно ввести только месяц (например <strong>2.2012</strong>) или только год (например <strong>2012</strong>)</span>
    </div>
  </div>
  <div class="form-group">
    <label for="height" class="col-md-3 control-label">Комментарий</label>
    <div class="col-md-6">
    {{ form.comment(class_='form-control', rows=10, maxlength=form.MAX_COMMENT_SIZE, **{'aria-describedby': 'helpBlockComment'}) }}
    <span id="helpBlockComment" class="help-block">Необязательное поле. Осталось <span id='charsRemail'></span> символов</span>
    </div>
  </div>
   <div class="form-group">
    <div class="col-md-offset-3 col-md-6">
      <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
  </div>
</form>
<script>
$('.date').datepicker({
    autoclose: true,
    format: 'dd.mm.yyyy',
    showOnFocus: false,
    endDate: '0d',
    language: 'ru',
});
var ta = document.getElementById('comment'); 
var remainHint = document.getElementById('charsRemail')
var maxlen = parseInt(ta.getAttribute("maxlength"));

remainHint.innerHTML = maxlen - ta.value.length;

refresh_func = function() {
    remainHint.innerHTML = maxlen - this.value.length;
}
ta.oninput = refresh_func;
</script>
{% endblock %}

