{% extends "layout.html" %}
{% block title %}Отметить восхождение{% endblock %}
{% block content %}
<h2>Отметить восхождение</h2>
{% if form.errors %}
<div id="form-errors" class="alert alert-danger">
    <ul id="form-error-list">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<form id="summit_edit_form" method="post" class="form-horizontal">
  {{ form.summit_id(value=summit.id) }}
  <div class="row">
    <h5 class="col-md-offset-3 col-md-6">
        <a  href="{{ url_for('summit', summit_id=summit.id) }}">
        {{ summit.format_name() }} {{  summit.format_name_alt() }}, {{ summit.height }}, хребет {{ summit.ridge }}
        </a>
    </h5>
  </div>
  <div class="form-group">
    <label for="name_alt" class="col-md-3 control-label">Дата</label>
    <div class="col-md-6">
    {{ form.date(class_='form-control datepicker', **{'aria-describedby': 'helpBlockDate'}) }}
    <span id="helpBlockDate" class="help-block">Необязательное поле</span>
    </div>
  </div>
  <div class="form-group">
    <label for="height" class="col-md-3 control-label">Комментарий</label>
    <div class="col-md-6">
    {{ form.comment(class_='form-control', **{'aria-describedby': 'helpBlockComment'}) }}
    <span id="helpBlockComment" class="help-block">Необязательное поле</span>
    </div>
  </div>
   <div class="form-group">
    <div class="col-md-offset-3 col-md-6">
      <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
  </div>
</form>
<script>
var calendar_state = 0;
function onAnyDateChange(e) {
    /*if ( calendar_state == 2 ) {
        //calendar_state = 0;
    } else {
        calendar_state++;
    }*/
    calendar_state++;
    $('.datepicker').datepicker('update', e.date);
}
$('.datepicker').datepicker({
    autoclose: true,
    //format: 'dd.mm.yyyy',
    format: {
        toDisplay: function (date, format, language) {
            var d = new Date(date);
            if ( calendar_state === 1 ) {
                return d.getFullYear();
            } else if ( calendar_state === 2 ) {
                return (d.getMonth() + 1) + "." + d.getFullYear();
            } else if ( calendar_state === 3 ) {
                return d.getDate() + "." + ( d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        toValue: function (date, format, language) {
            return new Date(date);
        }
    },
    endDate: '0d',
    language: 'ru',
    startView: 2,
    //immediateUpdates: true
}).on('changeYear', onAnyDateChange).on('changeMonth', onAnyDateChange).on('changeDate', onAnyDateChange)
.on('show', function (e) { if ( calendar_state === 3 ) { calendar_state = 0;}; })
.on('hide', function(e) { calendar_state = 0 });
</script>
{% endblock %}

