<ul class="nav navbar-nav navbar-right">
<!-- <li><a href="/admin/summits/new">Добавить</a></li> -->
<li {%  if active_page == 'index' %} class="active"{% endif %}><a href="{{ url_for('index')}}">Карта</a></li>
<li {%  if active_page == 'ridges' %} class="active"{% endif %}><a href="{{ url_for('table') }}">Хребты</a></li>
<li {%  if active_page == 'table' %} class="active"{% endif %}><a href="{{ url_for('table') }}">Вершины</a></li>
<li {%  if active_page == 'top' %} class="active"{% endif %}><a href="{{ url_for('top') }}">Восходители</a></li>
<li {%  if active_page == 'about' %} class="active"{% endif %}><a href="{{ url_for('about') }}">О проекте</a></li>
  {% if not current_user.is_authenticated %}
  <li><a href="/login?r={{ request.path }}" data-remote="false" data-toggle="modal" data-target="#authModal">Вход</a>
  {% else %}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('user', user_id=current_user.get_id()) }}">Профиль</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
          </ul>
        </li>
  {% endif %}

</ul>

