{% extends "layout.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
<h2>{{ current_user.name }}
    {% if current_user.location %}
        <small>{{ current_user.location }}</small>
    {% endif %}
</h2>
<div class="row">
    <div class="col-md-3 text-right">
        {% if current_user.image_id %}
                <img src="{{ url_for('image_get', image_id=current_user.image_id)}}" class="center-block user-image-large">
        {% endif %}
        <a href="{{ url_for('logout') }}" class="btn btn-default center-block" type="button" role="button">Выйти</a>
        <a href="{{ url_for('profile_edit') }}" class="btn btn-default center-block" type="button" role="button">Редактировать профиль</a>
    </div>
    <div class="col-md-6">
    <h3>Восхождения</h3>
    {% if climbed | length == 0 %}
    Вы еще не добавили ни одного восхождения. Найти вершину, на которую вы взошли можно <a href="{{ url_for('index') }}">на карте</a> или <a href="{{ url_for('table') }}">в таблице</a>.
    {% endif %}
    <ul class="media-list">
    {% for c in climbed %}
    <li class="media">
        <div class="media-body">
        <h4 class="media-heading">
            <a href="{{ url_for('summit', summit_id=c.summit.id)}}">{{ c.summit.format_name() }}</a>
            <small>хребет {{ c.summit.ridge }}</small>
        </h4>
        {% if c.date %}<div class="text-muted"><i>{{ c['date'].format() }}</i></div>{% endif %}
        {{ c['comment'] }}
        <div>
        <small><a href="{{ url_for('profile_climb_edit', summit_id=c.summit.id) }}">Редактировать</a></small>
        <small><a href="{{ url_for('profile_climb_delete', summit_id=c.summit.id) }}" class="simple-delete-confirm">Удалить</a></small>
        </div>
        </div>
    </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
