{% extends "layout.html" %}
{% block title %}{{ ridge.name }} {% endblock %}
{% block description %}Хребет {{ ridge.name }} &mdash; вершины выше тысячи метров{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=['message']) %}
  {% if messages %}
<div class="alert alert-success flash-message" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
<h1>{{ ridge.type_ }} {{ ridge.name }}</h1>
{% if ridge.panoram %}
  <div>
      <img src="{{ url_for('image_get', image_id=ridge.panoram) }}" alt="Панорама" class='img-responsive'>
  </div>
{% endif %}
<div class="row">
  <div class="col-md-6">
    <div class="ridge-description">
      {{ ridge.description | safe }}
    </div>
  </div>
  <div class="col-md-6">
    <h2>Вершины <small>(всего {{ridge.summits | length }})</small></h2>
    <ul class="list-unstyled">
    {% for s in ridge.summits %}
        <li>
          {% if s.main %}
          <b><a href="{{ url_for('summit', ridge_id=ridge.id, summit_id=s.id) }}" title="Главная вершина хребта">{{s.format_name(height=True) }}</a></b>
          {% else %}
          <a href="{{ url_for('summit', ridge_id=ridge.id, summit_id=s.id) }}">{{s.format_name(height=True) }}</a>
          {% endif %}
          {% if s.has_image %}
              <span class="glyphicon glyphicon-camera" aria-hidden="true" title="Есть фотографии"></span>
          {% endif %}
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
