{% extends "layout.html" %}
{% block title %}Хребты{% endblock %}
{% block description %}Хребты Южного Урала{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=['message']) %}
  {% if messages %}
<div class="alert alert-success flash-message" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
<h1>Хребты</h1>
<div class="row">
{% for r in ridges %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="{{ url_for('ridge', ridge_id=r.id) }}">
          {% if r.image %}
          <img src="{{ url_for('image_get', image_id=r.image)}}" alt="">
          {% else %}
          <img src="/static/mnt_dummy.png" alt="">
          {% endif %}
      </a>
      <div class="caption">
        <a href="{{ url_for('ridge', ridge_id=r.id) }}"><h4>{{ r.name }}</h4></a>
        <p>{{ r.summits_num }} вершин</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
