{% extends "layout.html" %}
{% block title %}{{ ridge.name }} {% endblock %}
{% block description %}Хребет {{ ridge.name }} &mdash; вершины выше тысячи метров{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=['message']) %}
  {% if messages %}
<div class="alert alert-success flash-message" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}">Главная</a></li>
    <li class="active">хребет {{ ridge.name }}</li>
</ol>
<h1>{{ ridge.name }}</h1>
<p>{{ ridge.description }}</p>
{% endblock %}
