{% extends "layout.html" %}
{% block title %}Редактировать вершину{% endblock %}
{% block content %}
<h1>Редактировать вершину</h1>
{% if form.errors %}
<div id="form-errors" class="alert alert-danger">
    <ul id="form-error-list">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<form id="summit_edit_form" method="post" class="form-horizontal" enctype="multipart/form-data">
  {{ form.id }}
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.name(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    {{ form.name_alt.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.name_alt(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    {{ form.height.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.height(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    {{ form.coordinates.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.coordinates(class_='form-control') }}
    <div id="coordinates-pick-map"></div>
    </div>
  </div>
  <div class="form-group">
    {{ form.rid.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.rid(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    {{ form.interpretation.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.interpretation(class_='form-control', rows=10) }}
    </div>
  </div>
  <div class="form-group">
    {{ form.description.label(class_='col-md-3 control-label') }}
    <div class="col-md-6">
    {{ form.description(class_='form-control', rows=10) }}
    </div>
  </div>
   <div class="form-group">
    <div class="col-md-offset-3 col-md-6">
      <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
  </div>
</form>
<script>
  var marker = null;
  document.body.onload = setupCoordinatesPickMap;
</script>
{% endblock %}
