{% extends "layout.html" %}
{% block content %}
<h2 id="summit_name">
    {% if summit.name %}
    {{ summit.name }}
    {% else %}
    {{ summit.height }}
    {% endif %}
    {% if summit.name_alt %}
    <small>({{ summit.name_alt }})</small>
    {% endif %}
</h2>
<div class="row">
    <div class="col-md-3 text-right"><strong>Высота:</strong></div>
    <div class="col-md-6">{{ summit.height }}</div>
</div>
<div class="row">
    <div class="col-md-3 text-right"><strong>Хребет:</strong></div>
    <div class="col-md-6">{{ summit.ridge }}</div>
</div>
<div class="row">
    <div class="col-md-3 text-right"><strong>Координаты:</strong></div>
    <div class="col-md-6">{{ summit.lat }} {{ summit.lng }}</div>
</div>
{% if summit.interpretation %}
<div class="row">
    <div class="col-md-3 text-right"><strong>Расшифровка названия:</strong></div>
    <div class="col-md-6">{{ summit.interpretation | safe }}</div>
</div>
{% endif %}
{% if summit.description %}
<div class="row">
    <div class="col-md-3 text-right"><strong>Дополнительная информация:</strong></div>
    <div class="col-md-6">{{ summit.description | safe }}</div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-offset-3 col-md-6"><a id="summit_edit_button" href="{{ url_for('summit_edit', summit_id=summit.id) }}" class="btn btn-default" role="button">Редактировать</a></div>
</div>
       
       
        {#
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Отметить восхождение</h4>
              </div>
              <form id="climb_form" action="/api/climbs" method="post">
              <input type="hidden" name="sid" value="{{ sid }}" />

              <div class="modal-body">
                 <div id="form-errors" class="alert alert-danger">
                   <ul id="form-error-list">
                   </ul>
                 </div>

                <div class="form-group">
                    <label for="ts">Дата восхождения</label>
                    <input type="text" class="form-control" name="ts">
                </div>
                <div class="form-group">
                    <label for="comment">Комментарий</label>
                    <textarea name="comment" rows="10" class="form-control"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        #}

<script>
    //document.body.onload = loadSummit;
    document.getElementById('climb_form').addEventListener("submit", submitForm, false);
</script>
{% endblock %}
