{% extends "layout.html" %}
{% block content %}
{% if form.errors %}
<div id="form-errors" class="alert alert-danger">
    <ul id="form-error-list">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<form id="summit_edit_form" method="post" class="form-horizontal">
  {{ form.id }}
  <div class="form-group">
    <label for="name" class="col-md-3 control-label">Название</label>
    <div class="col-md-6">
    {{ form.name(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    <label for="name_alt" class="col-md-3 control-label">Варианты названий</label>
    <div class="col-md-6">
    {{ form.name_alt(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    <label for="height" class="col-md-3 control-label">Высота</label>
    <div class="col-md-6">
    {{ form.height(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    <label for="coordinates" class="col-md-3 control-label">Координаты</label>
    <div class="col-md-6">
    {{ form.coordinates(class_='form-control') }}
    <div id="coordinates-pick-map"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="rid" class="col-md-3 control-label">Хребет</label>
    <div class="col-md-6">
    {{ form.rid(class_='form-control') }}
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-md-3 control-label">Расшифровка названия</label>
    <div class="col-md-6">
    {{ form.interpretation(class_='form-control', rows=10) }}
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-md-3 control-label">Дополнительная информация</label>
    <div class="col-md-6">
    {{ form.description(class_='form-control', rows=10) }}
    </div>
  </div>
   <div class="form-group">
    <div class="col-md-offset-3 col-md-6">
      <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
  </div>
</form>
<script>
  var marker = null;
  document.body.onload = setupCoordinatesPickMap;
</script>
{% endblock %}
