{% extends "layout.html" %}
{% block title %} хр. {{ summit.ridge }} - {{ summit.format_name() }} {{ summit.format_name_alt() }} {% endblock %}
{% block content %}
<h2>
{{ summit.format_name() }} <small>{{ summit.format_name_alt() }}
{% if current_user.admin %}
<a href="{{ url_for('summit_edit', summit_id=summit.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
<a href="{{ url_for('summit_delete', summit_id=summit.id) }}" class="simple-delete-confirm"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
</small>
</h2>
<dl class="dl-horizontal">
    <dt>Высота</dt>
    <dd>{{ summit.height }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Хребет</dt>
    <dd>{{ summit.ridge }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Координаты</dt>
    <dd>{{ summit.coordinates[0] }} {{ summit.coordinates[1]}}</dd>
</dl>
{% if summit.interpretation %}
<dl class="dl-horizontal">
    <dt>Расшифровка названия</dt>
    <dd>{{ summit.interpretation | safe }}</dd>
</dl>
{% endif %}
{% if summit.description %}
<dl class="dl-horizontal">
    <dt>Дополнительная информация</dt>
    <dd>{{ summit.description | safe }}</dd>
</dl>
{% endif %}
<h3>Восходители{% if not climbed %} <small>(<a href="{{ url_for('climb_new', summit_id=summit.id) }}">Взошли на эту вершину?</a>)</small>{% endif %}</h3>
<ul class="list-unstyled">
    {% if climbed %}
    <li>{{ current_user.name }}</li>
    {% endif %}

    {% for c in climbers %}
    <li>{{ c.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
