{% extends "layout.html" %}
{% block title %}Таблица тысячников Южного Урала{% endblock %}
{% block description %}Все вершины Южного Урала выше тысячи метров в таблице{% endblock %}
{% block content %}
<h1>Все вершины Южного Урала выше тысячи метров</h1>
<table id='summitsTable' class="table">
<thead>
    <tr>
        <!-- <th>Номер</th> -->
        <th class="{% if sort == 'name' %}info{% else %}clickable-cell active{% endif %}">
            <a {% if sort != 'name' %}href="{{ url_for('table', sort='name') }}"{% endif %}>Название</a>
        </th>
        <th class="{% if sort == 'height' %}info{% else %}clickable-cell active{% endif %}">
            <a {% if sort != 'height' %}href="{{ url_for('table') }}"{% endif %}>Высота</a>
        </th>
        <th class="{% if sort == 'ridge' %}info{% else %}clickable-cell active{% endif %}">
            <a {% if sort != 'ridge' %}href="{{url_for('table', sort='ridge')}}"{% endif %}>Хребет</a>
        </th>
    </tr>
</thead>
<tbody>
    {% for s in summits %}
    <tr>
        <!-- <td>{{ s.number }}</td> -->
        <td class="text-left">
            {% if s.climbed %}
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            {% endif %}
            <a href="/summit/{{ s.id }}">{{s.format_name() }} {{ s.format_name_alt() }}</a>
        </td>
        <td>{{ s.height }}</td>
        <td>{{ s.ridge }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
