{% extends "layout.html" %}
{% block title %}Восходители{% endblock %}
{% block description %}Восходители на вершины Южного Урала{% endblock %}
{% block content %}
<h1>Рейтинг восходителей</h1>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Восхождений</th>
            <th>Место в рейтинге</th>
    </thead>
    <tbody>
        {% for c in climbers %}
        <tr>
            <td class="vertical-align">
                 {% if c.preview%}
                 <a href="{{ url_for('user', user_id=c.id) }}"><img src="{{ url_for("image_get", image_id=c.preview)}}"></a>
                 {% else %}
                 <a href="{{ url_for('user', user_id=c.id) }}"><img src="/static/climber_sm.png"></a>
                 {% endif %}
                 <a href="{{ url_for('user', user_id=c.id) }}">{{ c.name }}</a>
            </td>
            <td class="vertical-align"><big>{{ c.climbs }}</big></td>
            <td class="vertical-align"><big>{{ loop.index }}</big></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
