{% extends "layout.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block description %}{{ user.name }} - информация о пользователе, восхождения{% endblock %}
{% block image %}
{% if user.image_id %}
{{ url_for('image_get', image_id=user.image_id, _external=True) }}
{% else %}
{{ url_for('static', filename='climber.png', _external=True) }}
{% endif %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=['message']) %}
  {% if messages %}
<div class="alert alert-success flash-message" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
<h1>{{ user.name }}</h1>
<div class="row">
    <div class="col-md-3 text-right">
        {% if user.image_id %}
            <img src="{{ url_for('image_get', image_id=user.image_id)}}" class="center-block user-image-large">
        {% else %}
            <img src="/static/climber.png" class="center-block user-image-large">
        {% endif %}
        <p class="text-center">
        {{ user.social_link() | safe }}
        </p>
    </div>
    <div class="col-md-6">
    {% if climbed | length == 0 %}
        {% if current_user == user %}
            Вы еще не сообщили ни об одной посещенной вершине. Найти вершину, на которую вы взошли можно <a href="{{ url_for('index') }}">на карте</a> или <a href="{{ url_for('table') }}">в таблице</a>.
        {% else %}
            Этот восходитель еще не сообщил ни об одной посещенной вершине.
        {% endif %}
    {% else %}
    <form id="climb-delete-form" method="POST">
        {{ del_form.csrf_token }}
    </form>
    <h3>Посещенные вершины <small>(всего {{ climbed | length }})</small></h3>
    <ul class="media-list">
    {% for c in climbed %}
    <li class="media">
        <a class="anchor" name="{{c.summit.id}}"></a>
        <div class="media-body">
        <h4 class="media-heading">
            <a href="{{ url_for('summit', summit_id=c.summit.id)}}">{{ c.summit.format_name() }}</a>
            <small>хребет {{ c.summit.ridge }}</small>
        </h4>
        {% if c.date %}<div class="text-muted"><i>{{ c['date'].format() }}</i></div>{% endif %}
        {% for line in c['comment'].splitlines() %}
            {{ line | forceescape | linkify | safe }}<br>
        {% endfor %}
        {% if user == current_user %}
            <div>
            <small><a href="{{ url_for('profile_climb_edit', summit_id=c.summit.id) }}">Редактировать</a></small>
            <small><a href="{{ url_for('profile_climb_delete', summit_id=c.summit.id) }}" class="simple-delete-confirm">Удалить</a></small>
            </div>
        {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
</div>
{% endblock %}
