{% extends "layout.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block description %}{{ user.name }} - информация о пользователе, восхождения{% endblock %}
{% block image %}
{% if user.image_id %}
{{ url_for('image_get', image_id=user.image_id, _external=True) }}
{% else %}
{{ url_for('static', filename='climber.png', _external=True) }}
{% endif %}
{% endblock %}
{% block content %}
<h1>{{ user.name }}
    {% if user.location %}
        <small>{{ user.location }}</small>
    {% endif %}
</h1>
<div class="row">
    <div class="col-md-3 text-right">
        {% if user.image_id %}
            <img src="{{ url_for('image_get', image_id=user.image_id)}}" class="center-block user-image-large">
        {% else %}
            <img src="/static/climber.png" class="center-block user-image-large">
        {% endif %}
    {% if user == current_user %}
        <a href="{{ url_for('logout') }}" class="btn btn-default center-block" type="button" role="button">Выйти</a>
        <a href="{{ url_for('profile_edit') }}" class="btn btn-default center-block" type="button" role="button">Редактировать профиль</a>
    {% endif %}
    </div>
    <div class="col-md-6">
    <h3>Восхождения</h3>
    {% if climbed | length == 0 %}
        Этот восходитель еще не сообщил ни об одном восхождении.
    {% endif %}
    <ul class="media-list">
    {% for c in climbed %}
    <li class="media">
        <div class="media-body">
        <h4 class="media-heading">
            <a href="{{ url_for('summit', summit_id=c.summit.id)}}">{{ c.summit.format_name() }}</a>
            <small>хребет {{ c.summit.ridge }}</small>
        </h4>
        {% if c.date %}<div class="text-muted"><i>{{ c['date'].format() }}</i></div>{% endif %}
        {{ c['comment'] }}
        </div>
    </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
