{% extends "layout.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}
<h2>{{ user.name }}
    {% if user.location %}
        <small>{{ user.location }}</small>
    {% endif %}
</h2>
<div class="row">
    <div class="col-md-3 text-right">
        {% if user.image_id %}
                <img src="{{ url_for('image_get', image_id=user.image_id)}}" class="center-block user-image-large">
        {% endif %}
    {% if user == current_user %}
        <a href="{{ url_for('logout') }}" class="btn btn-default center-block" type="button" role="button">Выйти</a>
    {% endif %}
    </div>
    <div class="col-md-6">
    <h3>Восхождения</h3>
    {% if climbed | length == 0 %}
    Вы еще не добавили ни одного восхождения. Найти вершину, на которую вы взошли можно <a href="{{ url_for('index') }}">на карте</a> или <a href="{{ url_for('table') }}">в таблице</a>.
    {% endif %}
    <ul class="list-unstyled">
    {% for c in climbed %}
    <li>
        <h4>
            <a href="{{ url_for('summit', summit_id=c.summit.id)}}">{{ c.summit.format_name() }} {{ c.summit.format_name_alt() }}</a>
            {% if c.date %}<small>{{ c['date'] | climb_date }}</small>{% endif %}
        </h4>
        <p>{{ c['comment'] }}</p>
        {% if user == current_user %}
        <small><a href="{{ url_for('climb_edit', summit_id=c.summit.id) }}">Редактировать</a></small>
        <small><a href="{{ url_for('climb_delete', summit_id=c.summit.id) }}" class="simple-delete-confirm">Удалить</a></small>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
